.landing{
    background-color: #18132A;
    color: white;
    .icon-con{
        width: 34px;
        height: 34px;
    }
    .img-con{
        margin-bottom: 40px;
        text-align: center;
        img{
        height: 85px;
        }
    }
    .title{
        color: white;
        font-size: 24px;
        line-height: 1.5;
        span{
            color: #02B8F2;
        }
    }
    .login-form-con{
        margin-top: 65px;
    }
    .video-text{
        color: white;
        font-size: 24px;
        margin-top: 40px;
    }
}