
.page-menu{
    padding: 25px 0 30px 30px;
    background-color: white;
    
    :global(.ant-menu-item-active)  { 
        border-radius: 2px !important;
    }
    :global(.ant-menu) {
        padding-right: 10px;
        margin-top: 50px;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    :global(.ant-layout-sider)  { 
        background-color: white !important;
        max-width: 250px !important;
        min-width: 220px !important;
    }
    :global(.ant-menu-item){
    display: flex;
    align-items: center;
}
    :global(.ant-menu-item-selected)  { 
        background: #DEECF9 !important;
        border-radius: 2px !important;
        box-shadow: inset 4px 0px 0px 0px #0C8CE9;
        color: #02B8F2 !important;
        font-weight: 500 !important;
    }
    :global(.ant-menu-title-content)  { 
        margin-inline-start: 15px !important;
    }
}
